    .comparision-table-border {
        border: 0.5px solid #BBBB;
    }
    .comparision-table-header {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #212121;
        padding: 14px 24px;
        gap: 10px;
        background: #EDEDED;

    }
    .comparision-ccontainer {
        width: 100%;
        display: grid;
        grid-auto-rows: repeat(auto);
        row-gap: 2rem;
    }
    .category-ccontainer {
        max-width: 100%;
        padding: 3rem;
    }
    .comparision-title {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        display: flex;
        align-items: center;
        color: #212121;
        margin-top: 40px;
    }
        .comparision-description {
            width: 100%;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #212121;
            margin: 24px 0 40px;
        }
        /*  Category Details */
        .category-details {
            width: 100%;
        }
            .category-details-title {
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #212121;
                margin-bottom: 1rem;
            }
            
            .category-details-description {
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: #212121;
                margin-bottom: 1rem;
            }

            .category-details-note {
                font-family: 'Public Sans';
                font-style: italic;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: #212121;
                margin-bottom: 1rem;
            }

        /*  Table of details for each loan in the eategory */
        .comparisonTable-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
            .comparisonTable {
                width: 100%;
                height: 100%;
            }
            /* Titles of loans in category*/
            .comparisonTable-titles-container {
                width: 100%;
                height: 100%;
                display:flex;
                flex-direction: row;
            }
                .comparisonTable-title {
                    width: 100%;
                    padding: 14px 24px;
                    font-family: 'Public Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 28px;
                    display: flex;
                    align-items: center;
                    color: #212121;
                    background: #EDEDED;
                }

                /* Max Dollar */
                .comparisonTable-maxDollar-container {
                    
                }
                    .comparisonTable-maxDollarTitle {
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        padding: 14px 24px;
                        gap: 10px;
                        background: #F7F7F7;
                        font-family: 'Public Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 28px;
                        color: #212121;
                    }
                    .comparisonTable-maxDollarValue-container {
                        width: 100%;
                        height: 100%;
                        display:flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                    }
                        .comparisonTable-maxDollarValue {
                            /* flex: 1 0 auto; */
                            padding: 10px 24px;
                        }

                        .comparisonTable-maxDollarNote {
                            width: 100%;
                            padding: 10px 0;
                        }
        .comparisonTable-definition-bold {
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 28px;
            color: #212121;
            flex: none;
            order: 1;
            flex-grow: 0;
        }
        .comparisonTable-definition {
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
            color: #212121;
            flex: none;
            order: 1;
            flex-grow: 0;
        }


    /* Interest Rate*/
    .comparisonTable-interestRate-container {
          
    }
        .comparisonTable-interestRateTitle {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 14px 24px;
            gap: 10px;
            background: #F7F7F7;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            color: #212121;
        }
        .comparisonTable-interestRateValue-container {
            width: 100%;
            height: 100%;
            display:flex;
            flex-direction: row;
            justify-content: left;
            padding: 14px 24px;

        }
        .comparisonTable-InterestRateValue {
            width: 100%;
            
        }

    /* Loan Term */
    .comparisonTable-loanTerm-container {

    }

        .comparisonTable-loanTermTitle {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 14px 24px;
            gap: 10px;
            background: #F7F7F7;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            color: #212121;

        }
        .comparisonTable-loanTermValue-container {
            width: 100%;
            display: flex;
            flex-direction: row;
        }
            .comparisonTable-loanTermValue-info {
                width: 100%;
            }
                .comparisonTable-loanTermValue {
                    width: 100%;
                    padding: 10px 24px;
                }

                .comparisonTable-loanTermNote {
                    width: 100%;
                    padding: 0 24px 10px;
                }
    /* Down Payment*/
    .comparisonTable-downPayment-container {

    }
        .comparisonTable-downPaymentTitle {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 14px 24px;
            gap: 10px;
            background: #F7F7F7;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            color: #212121;
        }
        .comparisonTable-downPaymentValue-container {
            width: 100%;
            display: flex;
            flex-direction: row;
        }
            .comparisonTable-downPaymentValue {
                width: 100%;
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                display: flex;
                align-items: center;
                color: #212121; 
                padding: 10px 24px;
            }
            .comparisonTable-downPaymentNote {
                width: 100%;
                padding: 10px 24px;
            }
/* Other Rquirements*/
    .comparisonTable-otherRequirements-container {
        width: 100%;
    }
        .comparisonTable-otherRequirementsTitle  {
            max-width: 100%;
            padding: 14px 24px;
        }
        .comparisonTable-otherRequirementsValue-container {
            width: 100%;
            display: flex;
            flex-direction: row;
        }
            .comparisonTable-otherRequirementsValue  {
                width: 100%;
                padding: 14px 24px;
            }
    
    /* Flags */
    .flag {
        display: grid;
        grid-template-columns: 8px 5rem 1fr;
        margin: 1rem 0 0;
        background-color: #D9E8F6;
    }
        
        .flag-leftbar {
            width: 100%;
            background-color: #1A6AD3;
        }
        
        .flag-iconholder {
            padding: 1rem;
            padding-top: 2rem;
        }
        .flag-text {
            display:grid;
            grid-template-rows: auto auto auto;
            padding-bottom: 2rem;
        }
            .flag-text-title {
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 120%;
                color: #212121;
                min-height: fit-content;
                padding: 1rem;
                padding-top: 1.5rem;
            }
            .flag-text-message {
                min-height: fit-content;
                padding: 0.5rem 1rem;
            }
            .flag-button {
                border-radius: 4px;
                background-color:#1A6AD3;
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #FFFFFF;
                max-width: fit-content;
                min-height: fit-content;
                margin: 1rem;
                padding: 1rem 2rem;
            }