.backgroundHero {
    background-color: #006546;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    display:flex;
    flex-direction: row-reverse;

}

.backgroundClear {
    background-color: rgba(0,0,0,0.0);
}

.card {
    margin: 1rem;

    float: right;
}
