.backgroundHero {
    background-color: #006546;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    height: 50rem;
    display:flex;
    flex-direction: row-reverse;

}

.backgroundClear {
    background-color: rgba(0,0,0,0.0);
}

.card {
    margin: 1rem;
    width: 80rem;
    height: 50rem;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    float: right; 
}

