    <div id="backgroundNew">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <section class="mdl-stepper">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col">
                                <!-- markup -->
                                <ul id="lrt-stepper">
                                    
                                </ul>
                                <ul id="loanDiscovery">
                                    
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>



    <script>
        (function() {
            var questions = [];
            // Get a JSON array of steps from js/stateManager.js
            var steps = returnStepsJSON();
            $.getJSON("../wizard-content.json", function(data) {
                $.each(data["steps"], function(key, step) {
                    var buttonText = step["buttons"][0].buttonText;

                    if( !buttonText.includes("Start Eligibility<br>Self-Assessment") &&
                        !buttonText.includes("Acknowledge & Continue") &&
                        !buttonText.includes("Return to Question")) { 
                            questions.push(step["id"]); 
                        }
                });

                let answeredQuestions = [];
                steps.forEach((key)=>{
                    if(questions.includes(parseInt(key['q']))) {
                        answeredQuestions.push(parseInt(key['q']));
                    }
                })
return;
                document.getElementById("loanDiscovery").classList.remove("mm-active");
                
                if(location.search=="?discovery"){
                    document.getElementById("loanEligibility").classList.remove("mm-active");
                    document.getElementById("loanDiscovery").classList.add("mm-active");  

                    $.each(answeredQuestions, function(key, item) {
                        let value = Math.max(...answeredQuestions);

                        let id = parseInt(item);
                        if( value < 36 ) { id = 36; }
                        WizardBuilder.addStep("lrt-stepper", id);
                        WizardBuilder.goToStep("lrt-stepper", id);
                    })
                }
                else {
                    if (steps != "") {
                        answeredQuestions.forEach((item)=>{  
                            let id = parseInt(item)

                            if(item>2){                        
                                WizardBuilder.addStep("lrt-stepper", id);
                                WizardBuilder.goToStep("lrt-stepper", id);
                            }
                        })    
                    }
                    else {
                        setStep(1,"Start");
                        //setCookie("steps", "1", 365);
                    }
                }
            });
        })();
            $(document).ready(function () {
                WizardBuilder.initialize("lrt-stepper", "../wizard-content.json");
                gsap.registerPlugin(ScrollToPlugin);
            });
    </script>