<style>
    .comparision-table-border {
        border: 0.5px solid #BBBB;
    }
    .comparision-table-header {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #212121;
        padding: 14px 24px;
        gap: 10px;
        background: #EDEDED;

    }
    .comparision-ccontainer {
        width: 100%;
        display: grid;
        grid-auto-rows: repeat(auto);
        row-gap: 2rem;
    }
    .category-ccontainer {
        max-width: 100%;
        padding: 3rem;
    }
    .comparision-title {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        display: flex;
        align-items: center;
        color: #212121;
        margin-top: 40px;
    }
        .comparision-description {
            width: 100%;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #212121;
            margin: 24px 0 40px;
        }
        /*  Category Details */
        .category-details {
            width: 100%;
        }
            .category-details-title {
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #212121;
                margin-bottom: 1rem;
            }
            
            .category-details-description {
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: #212121;
                margin-bottom: 1rem;
            }

            .category-details-note {
                font-family: 'Public Sans';
                font-style: italic;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: #212121;
                margin-bottom: 1rem;
            }

        /*  Table of details for each loan in the eategory */
        .comparisonTable-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
            .comparisonTable {
                width: 100%;
                height: 100%;
            }
            /* Titles of loans in category*/
            .comparisonTable-titles-container {
                width: 100%;
                height: 100%;
                display:flex;
                flex-direction: row;
            }
                .comparisonTable-title {
                    width: 100%;
                    padding: 14px 24px;
                    font-family: 'Public Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 28px;
                    display: flex;
                    align-items: center;
                    color: #212121;
                    background: #EDEDED;
                }

                /* Max Dollar */
                .comparisonTable-maxDollar-container {
                    
                }
                    .comparisonTable-maxDollarTitle {
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        padding: 14px 24px;
                        gap: 10px;
                        background: #F7F7F7;
                        font-family: 'Public Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 28px;
                        color: #212121;
                    }
                    .comparisonTable-maxDollarValue-container {
                        width: 100%;
                        height: 100%;
                        display:flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                    }
                        .comparisonTable-maxDollarValue {
                            /* flex: 1 0 auto; */
                            padding: 10px 24px;
                        }

                        .comparisonTable-maxDollarNote {
                            width: 100%;
                            padding: 10px 0;
                        }
        .comparisonTable-definition-bold {
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 28px;
            color: #212121;
            flex: none;
            order: 1;
            flex-grow: 0;
        }
        .comparisonTable-definition {
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
            color: #212121;
            flex: none;
            order: 1;
            flex-grow: 0;
        }


    /* Interest Rate*/
    .comparisonTable-interestRate-container {
          
    }
        .comparisonTable-interestRateTitle {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 14px 24px;
            gap: 10px;
            background: #F7F7F7;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            color: #212121;
        }
        .comparisonTable-interestRateValue-container {
            width: 100%;
            height: 100%;
            display:flex;
            flex-direction: row;
            justify-content: left;
            padding: 14px 24px;

        }
        .comparisonTable-InterestRateValue {
            width: 100%;
            
        }

    /* Loan Term */
    .comparisonTable-loanTerm-container {

    }

        .comparisonTable-loanTermTitle {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 14px 24px;
            gap: 10px;
            background: #F7F7F7;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            color: #212121;

        }
        .comparisonTable-loanTermValue-container {
            width: 100%;
            display: flex;
            flex-direction: row;
        }
            .comparisonTable-loanTermValue-info {
                width: 100%;
            }
                .comparisonTable-loanTermValue {
                    width: 100%;
                    padding: 10px 24px;
                }

                .comparisonTable-loanTermNote {
                    width: 100%;
                    padding: 0 24px 10px;
                }
    /* Down Payment*/
    .comparisonTable-downPayment-container {

    }
        .comparisonTable-downPaymentTitle {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 14px 24px;
            gap: 10px;
            background: #F7F7F7;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            color: #212121;
        }
        .comparisonTable-downPaymentValue-container {
            width: 100%;
            display: flex;
            flex-direction: row;
        }
            .comparisonTable-downPaymentValue {
                width: 100%;
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                display: flex;
                align-items: center;
                color: #212121; 
                padding: 10px 24px;
            }
            .comparisonTable-downPaymentNote {
                width: 100%;
                padding: 10px 24px;
            }
/* Other Rquirements*/
    .comparisonTable-otherRequirements-container {
        width: 100%;
    }
        .comparisonTable-otherRequirementsTitle  {
            max-width: 100%;
            padding: 14px 24px;
        }
        .comparisonTable-otherRequirementsValue-container {
            width: 100%;
            display: flex;
            flex-direction: row;
        }
            .comparisonTable-otherRequirementsValue  {
                width: 100%;
                padding: 14px 24px;
            }
    
    /* Flags */
    .flag {
        display: grid;
        grid-template-columns: 8px 5rem 1fr;
        margin: 1rem 0 0;
        background-color: #D9E8F6;
    }
        
        .flag-leftbar {
            width: 100%;
            background-color: #1A6AD3;
        }
        
        .flag-iconholder {
            padding: 1rem;
            padding-top: 2rem;
        }
        .flag-text {
            display:grid;
            grid-template-rows: auto auto auto;
            padding-bottom: 2rem;
        }
            .flag-text-title {
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 120%;
                color: #212121;
                min-height: fit-content;
                padding: 1rem;
                padding-top: 1.5rem;
            }
            .flag-text-message {
                min-height: fit-content;
                padding: 0.5rem 1rem;
            }
            .flag-button {
                border-radius: 4px;
                background-color:#1A6AD3;
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #FFFFFF;
                max-width: fit-content;
                min-height: fit-content;
                margin: 1rem;
                padding: 1rem 2rem;
            }

</style>

<div class="fit-content">
    <div class="container" id="container"></div>
</div>

<script>
    (function() {
        $.getJSON("/forms/loantypes.json", function(data) {
            var categories = [...data['categories']];
            var loanTypes = [...data['loanType']];
            var definitions = data['definitions'];

            var comparision = document.createElement("div");
            comparision.classList.add("comparision");

            var title = document.createElement("div");
            title.classList.add("comparision-title");
            title.textContent = "Explore Loans";
            comparision.append(title);

            var description = document.createElement("div");
            description.classList.add("comparision-description");
            description.textContent = "The Farm Service Agency offers loans to help farmers and ranchers get the financing they need to start, expand or maintain a farm. While FSA is committed to serving all farmers and ranchers, by statute, FSA targets a portion of all Guaranteed loan funds, Microloan funding, and Youth loans, to historically under-served farmers and ranchers. Review details about these FSA loans below. ";
            comparision.append(description);

            comparision.append(_createFlag());

            var bar = `<div class="container"><div class="divider-line"></div></div>`;
            comparision.insertAdjacentHTML('beforeend', bar);

            /////////////////
            // holds the comparison tables
            var comparisionContainer = document.createElement("div");
            comparisionContainer.classList.add("comparision-ccontainer");
            for (var i = 0; i < categories.length; i++) {
                // The loans belonging to each category
                var categoryLoans = loanTypes.filter(x=> x.category === categories[i].type);
                
                /////////////////
                // Per-category table
                var categoryContainer = document.createElement("div");
                categoryContainer.classList.add("category-ccontainer");
                categoryContainer.classList.add("comparision-table-border");
                
                /////////////////
                // Div to hold cataegory specific info
                var details = document.createElement("div");
                details.classList.add("category-details");
                categoryContainer.append(details);
                // Title
                var title = document.createElement("div");
                title.classList.add("category-details-title");

                title.textContent = categories[i].type;
                details.append(title);
                // Description
                var description = document.createElement("div");
                description.classList.add("category-details-description");

                description.textContent = categories[i].description;
                details.append(description);
                // Note if available
                if(categories[i].note !== "") {
                    var note = document.createElement("div");
                    note.classList.add("category-details-note");
                    note.textContent = categories[i].note;
                    details.append(note);
                }

                var comparisonTable = document.createElement("div");
                comparisonTable.classList.add("comparisonTable-container");
                comparisonTable.classList.add("comparision-table-border");
                
                // Add Micro Loans
                if(categories[i].hasMicroloan !== ""){
                    categoryLoans.push(loanTypes.find(x=>x.name == categories[i].hasMicroloan));
                }
                
                categoryLoans = categoryLoans.filter(function( x ) {
                    return x !== undefined;
                });
                comparisonTable.append(_createTables(categoryLoans));
                categoryContainer.append(comparisonTable);

                ////////////////
                // Definitions
                var definitionsContainer = document.createElement("div");
                definitionsContainer.classList.add("comparisonTable-definitionsContainer");

                // Max dollar
                var definition = document.createElement("div");
                var definitionName = document.createElement("text");
                definitionName.classList.add("comparisonTable-definition-bold");
                definitionName.textContent = "Maximum Dollar Amount: ";

                var definitionText = document.createElement("text");
                definitionText.classList.add("comparisonTable-definition");
                definitionText.textContent = definitions.maximumDollarAmount;
                definitionName.append(definitionText);

                definition.append(definitionName);
                definitionsContainer.append(definition);

                // Interest Rate
                var definition = document.createElement("div");
                var definitionName = document.createElement("text");
                definitionName.classList.add("comparisonTable-definition-bold");
                definitionName.textContent = "Interest Rate: ";

                var definitionText = document.createElement("text");
                definitionText.classList.add("comparisonTable-definition");
                definitionText.textContent = definitions.InterestRate;
                definitionName.append(definitionText);

                definition.append(definitionName);
                definitionsContainer.append(definition);

                // Loan Term
                var definition = document.createElement("div");
                var definitionName = document.createElement("text");
                definitionName.classList.add("comparisonTable-definition-bold");
                definitionName.textContent = "Loan Term: ";

                var definitionText = document.createElement("text");
                definitionText.classList.add("comparisonTable-definition");
                definitionText.textContent = definitions.loanTerm;
                definitionName.append(definitionText);

                definition.append(definitionName);
                definitionsContainer.append(definition);

                // Down Payment Requirement
                var definition = document.createElement("div");
                var definitionName = document.createElement("text");
                definitionName.classList.add("comparisonTable-definition-bold");
                definitionName.textContent = "Down Payment Requirement: ";

                var definitionText = document.createElement("text");
                definitionText.classList.add("comparisonTable-definition");
                definitionText.textContent = definitions.loanTerm;
                definitionName.append(definitionText);

                definition.append(definitionName);
                definitionsContainer.append(definition);

                categoryContainer.append(definitionsContainer);

                comparisionContainer.append(categoryContainer);
            }
            comparision.append(comparisionContainer);

            $('#container').empty();
            $('#container').append(comparision);
        });
    })();


    function _createTables(categoryLoans) {
        ////////////////////////
        // Table of loan details
        var comparisonTable = document.createElement("div");
        comparisonTable.classList.add("comparisonTable");
        comparisonTable.classList.add("comparision-table-border");

        // Holds all Titles in this category
        var titles = document.createElement("div");
        titles.classList.add("comparisonTable-titles-container");
        for (var k = 0; k < categoryLoans.length; k++) {
            var title = document.createElement("div");
            title.classList.add("comparisonTable-title");
            title.classList.add("comparision-table-border");
            title.classList.add("comparision-table-header");
            title.textContent = categoryLoans[k].name;
            
            titles.append(title);
        }
        comparisonTable.append(titles);

        /////////////////////
        // Max Dollar Ammount
        var maxDollarContainer = document.createElement("div");
        maxDollarContainer.classList.add("comparisonTable-maxDollar-container");
        // Max Dollar Ammount Title
        var maxDollarTitle = document.createElement("div");
        maxDollarTitle.classList.add("comparisonTable-maxDollarTitle");
        maxDollarTitle.classList.add("comparision-table-border");
        maxDollarTitle.textContent = "Maximum Dollar Amount";
        maxDollarContainer.append(maxDollarTitle);
        
        // Max Dollar Ammount Values
        var maxDollarValue = document.createElement("div");
        maxDollarValue.classList.add("comparisonTable-maxDollarValue-container");
        maxDollarValue.classList.add("comparision-table-border");

        var uniqueDollarAmmounts = [];
        for (var c = 0; c < categoryLoans.length; c++) {
            var dollarammount = {
                "description": categoryLoans[c].maximumDollarAmountDescription,
                "note": categoryLoans[c].maximumDollarAmountNote
            }
            uniqueDollarAmmounts.push(dollarammount);
        }

        var totalCells = uniqueDollarAmmounts.length;
        uniqueDollarAmmounts = uniqueDollarAmmounts.filter((tag, index, array) => array.findIndex(t => t.description == tag.description && t.note == tag.note) == index);
        var actualCells = uniqueDollarAmmounts.length;

        var elementCount = 0;
        for (var l = 0; l < uniqueDollarAmmounts.length; l++) {
            var maxDollar = document.createElement("div");
           
            maxDollar.classList.add("comparisonTable-maxDollarValue");
            maxDollar.classList.add("comparision-table-border");

            maxDollar.textContent = uniqueDollarAmmounts[l].description;
            if(uniqueDollarAmmounts[l].note !== "") {
                var note = document.createElement("div");
                note.classList.add("comparisonTable-maxDollarNote");
                note.textContent = uniqueDollarAmmounts[l].note;
                maxDollar.append(note);
            }
            if(totalCells/actualCells != 1 && elementCount == 0) {
                console.log($(titles).width())
                maxDollar.style.flex = "1 0 66%";
            }
            if(totalCells/actualCells != 1 && elementCount == 1) {
                console.log($(titles).width())
                maxDollar.style.flex = "1 0 33%";
            }
            maxDollarValue.append(maxDollar);
            elementCount++;
        }
        maxDollarContainer.append(maxDollarValue);
        comparisonTable.append(maxDollarContainer);

        /////////////////
        // Interest Rate
        var interestRateContainer = document.createElement("div");
        interestRateContainer.classList.add("comparisonTable-interestRate-container");

        var interestRateTitle = document.createElement("div");
        interestRateTitle.classList.add("comparisonTable-interestRateTitle");
        interestRateTitle.classList.add("comparision-table-border");
        interestRateTitle.classList.add("comparision-table-header");
        interestRateTitle.textContent = "Interest Rate";
        interestRateContainer.append(interestRateTitle);
        
        var uniqueInterestRates = [];
        for (var c = 0; c < categoryLoans.length; c++) {
            var interestRate = {
                "description": categoryLoans[c].interestRate,
                "url": categoryLoans[c].interestRateURL
            }
            uniqueInterestRates.push(interestRate);
        }
        uniqueInterestRates = uniqueInterestRates.filter((tag, index, array) => array.findIndex(t => t.description == tag.description && t.url == tag.url) == index);
        
        var interestRateValueContainer = document.createElement("div");
        interestRateValueContainer.classList.add("comparisonTable-interestRateValue-container");
        for (var l = 0; l < uniqueInterestRates.length; l++) {
            var interestRateValue = document.createElement("div");
            interestRateValue.classList.add("comparisonTable-interestRateValue");

            var interestRateValueLink = document.createElement("a");
            interestRateValueLink.href =  uniqueInterestRates[l].url;
            interestRateValueLink.innerHTML = "View current rates ";

            var interestRateValueLinkText = document.createElement("text");

            interestRateValueLinkText.textContent = uniqueInterestRates[l].description.replace(" View current rates","");
            interestRateValueLinkText.append(interestRateValueLink);
            interestRateValue.append(interestRateValueLinkText);

            interestRateValueContainer.append(interestRateValue);

            interestRateContainer.append(interestRateValueContainer);
        }
        
        comparisonTable.append(interestRateContainer);
        
        /////////////
        // Loan Term
        var loanTermContainer = document.createElement("div");
        loanTermContainer.classList.add("comparisonTable-loanTerm-container");

        var loanTermTitle = document.createElement("div");
        loanTermTitle.classList.add("comparisonTable-loanTermTitle");
        loanTermTitle.classList.add("comparision-table-border");
        loanTermTitle.classList.add("comparision-table-header");
        loanTermTitle.textContent = "Loan Term";
        loanTermContainer.append(loanTermTitle);

        // Loan Term Values
        var loanTermValues = document.createElement("div");
        loanTermValues.classList.add("comparisonTable-loanTermValue-container");

        var uniqueLoanTerms = [];
        for (var c = 0; c < categoryLoans.length; c++) {
            var loanTerm = {
                "loanTerm": categoryLoans[c].loanTerm,
                "note": categoryLoans[c].loanTermNote
            }
            uniqueLoanTerms.push(loanTerm);
        }
        if(uniqueLoanTerms < 3) {
            uniqueLoanTerms = uniqueLoanTerms.filter((tag, index, array) => array.findIndex(t => t.loanTerm == tag.loanTerm && t.loanTermNote == tag.loanTermNote) == index);
        }
        
        for (var l = 0; l < uniqueLoanTerms.length; l++) {
            var infobox = document.createElement("div");
            infobox.classList.add("comparisonTable-loanTermValue-info");
            infobox.classList.add("comparision-table-border");

            var loanTerm = document.createElement("div");
            loanTerm.classList.add("comparisonTable-loanTermValue");
            loanTerm.textContent = uniqueLoanTerms[l].loanTerm;
            infobox.append(loanTerm);
            if(uniqueLoanTerms[l].note !== "") {
                var note = document.createElement("div");
                note.classList.add("comparisonTable-loanTermNote");
                note.textContent = uniqueLoanTerms[l].note;
                infobox.append(note);
            }
            
            loanTermValues.append(infobox);
        }

        loanTermContainer.append(loanTermValues);
        comparisonTable.append(loanTermContainer);

        ///////////////
        // Down Payment
        var downPaymentContainer = document.createElement("div");
        downPaymentContainer.classList.add("comparisonTable-downPayment-container");

        var downPaymentTitle = document.createElement("div");
        downPaymentTitle.classList.add("comparisonTable-downPaymentTitle");
        downPaymentTitle.classList.add("comparision-table-border");
        downPaymentTitle.classList.add("comparision-table-header");
        downPaymentTitle.textContent = "Down Payment";
        downPaymentContainer.append(downPaymentTitle);

        // Down Payment Values
        var downPaymentValues = document.createElement("div");
        downPaymentValues.classList.add("comparisonTable-downPaymentValue-container");

        var uniqueDownPayments = [];
        for (var c = 0; c < categoryLoans.length; c++) {
            var DownPayment = {
                "downPayment": categoryLoans[c].downPayment,
                "downPaymentDescription": categoryLoans[c].downPaymentDescription
            }
            uniqueDownPayments.push(DownPayment);
        }
        if(uniqueDownPayments < 3) {
            uniqueDownPayments = uniqueDownPayments.filter((tag, index, array) => array.findIndex(t => t.downPayment == tag.downPayment && t.downPaymentDescription == tag.downPaymentDescription) == index);
        }

        for (var l = 0; l < uniqueDownPayments.length; l++) {
            var downPaymentValue = document.createElement("div");
            downPaymentValue.classList.add("comparisonTable-downPaymentValue");
            downPaymentValue.classList.add("comparision-table-border");
            downPaymentValue.textContent = uniqueDownPayments[l].downPayment+"%";
            downPaymentValues.append(downPaymentValue);
        }
        downPaymentContainer.append(downPaymentValues);
        comparisonTable.append(downPaymentContainer);
        
        /////////////////////
        // Other Requirements
        if(categoryLoans.findIndex(x=> x.otherRequirements != '') !== -1) {
            var otherRequirementsContainer = document.createElement("div");
            otherRequirementsContainer.classList.add("comparisonTable-otherRequirements-container");

            var otherRequirementTitle = document.createElement("div");
            otherRequirementTitle.classList.add("comparisonTable-otherRequirementsTitle");
            otherRequirementTitle.classList.add("comparision-table-border");
            otherRequirementTitle.classList.add("comparision-table-header");
            otherRequirementTitle.textContent = "Other Requirements";
            otherRequirementsContainer.append(otherRequirementTitle);

            // Down Payment Values
            var otherRequirementsValues = document.createElement("div");
            otherRequirementsValues.classList.add("comparisonTable-otherRequirementsValue-container");

            var uniqueOtherRequirements = [];
            for (var c = 0; c < categoryLoans.length; c++) {
                var otherRequirement = {
                    "otherRequirements": categoryLoans[c].otherRequirements
                }
                uniqueOtherRequirements.push(otherRequirement);
            }
            if(uniqueOtherRequirements < 3) {
                uniqueOtherRequirements = uniqueOtherRequirements.filter((tag, index, array) => array.findIndex(t => t.otherRequirements == tag.otherRequirements) == index);
            }

            for (var l = 0; l < uniqueOtherRequirements.length; l++) {
                var otherRequirements = document.createElement("div");
                otherRequirements.classList.add("comparisonTable-otherRequirementsValue");
                otherRequirements.classList.add("comparision-table-border");
                otherRequirements.textContent = uniqueOtherRequirements[l].otherRequirements;
                otherRequirementsValues.append(otherRequirements);
            }
            otherRequirementsContainer.append(otherRequirementsValues);
            comparisonTable.append(otherRequirementsContainer);

            
        }

        return comparisonTable;
    }

    function _createFlag() {
        var flag = document.createElement("div");
        flag.classList.add("flag");
      
        var div = document.createElement("div");
        div.classList.add("flag-leftbar");
        flag.append(div);

        div = document.createElement("div");
        div.classList.add("flag-iconholder");
        var image = document.createElement("img");
        image.src = './images/alerts/info.png';

        div.append(image);
        flag.append(div);

        var textHolder = document.createElement("div");
        textHolder.classList.add("flag-text");

        div = document.createElement("div");
        div.classList.add("flag-text-title");
        div.textContent = "Take the Farm Loan Quiz";
        textHolder.append(div);

        div = document.createElement("div");
        div.classList.add("flag-text-message");
        div.textContent = "Not sure where to start? Complete the FSA Farm Loan Quiz to understand which loan best suits your needs.";
        textHolder.append(div);

        var button = document.createElement("button");
        button.classList.add("flag-button");
        button.textContent = "GET STARTED";

        $(button).off().on('click', startQuiz.bind(this));
        $(button).on('click',function() {
            startQuiz.bind(this);
            $(this).off('click');
        });

        textHolder.append(button);
        flag.append(textHolder);

        return flag;
    }
     
     function startQuiz(){
        setContent('quiz');
     }
</script>
