
<div class="backgroundHero"> 
    <div class="homecard"> 
        <div class="container">
            <div class="row">
                <div class="primary-region medium-12">
                    <h1 class="primary-region__title">
                        Loan Assistance Tool
                    </h1>
                </div>
            </div>
            
            <div class="row ">
                <div class="col-md-12">
                    <div class="content-card accent-top">
                        <h3 class="card-title">Are you ready to apply for a farm loan?</h3>
                        <div class="card-body">
                            <ul>
                                <li>Am I eligible for a FSA Farm Loan?</li>
                                <li>Which loans are right for me?</li>
                                <li>Where can I get  help completing the loan application forms?</li>
                            </ul>
                        </div>
                        <button class="btn lg-btn" onclick="window.location.assign('/lrt.html')">
                            Get Started
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
