
<div class="backgroundHero"> 
    <div class="homecard"> 
        <div class="cta-container">
            <div class="row">
                <div class="primary-region medium-12">
                    <h1 class="primary-region__title">
                        Are you ready to apply for a farm loan? 
                    </h1>
                </div>
            </div>
            
            <div class="row ">
                <div class="col-md-12">
                    <div class="content-card accent-top">
                        <h3 class="card-title"> </h3>
                        <div class="card-body">
                            <div id="checkbox">

                            </div>
                        </div>
                        <button class="btn lg-btn" onclick="setContent('quiz')">
                            TAKE FARM LOAN QUIZ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

<script>
    (function() {
        $('#checkbox').empty();
        $('#checkbox').append(_createCheckbox());
    })();

    function _createCheckbox() {
        var checkboxDiv = document.createElement("div");
        //checkboxDiv.classList.add("quiz-multiSelect-card-check-container");        
        var label = document.createElement("Label");
        var text = document.createElement("p");
        text.textContent = "Start your journey with FSA and find out which farm loan is right for you.";
        label.appendChild(text);
        checkboxDiv.appendChild(label);
        return checkboxDiv;  
    }

    function toggleButtonActive () {
    
    }

</script>