<div id="main-content" id="body"> 
    <!-- Tiles Text --> 
    <div class="container">
        <div class="row">
            <div class="primary-region medium-12">
                <h1 class="primary-region__title" id="title-holder"> <!-- calculated in script --> </h1>
            </div>
        </div>
    </div>

    <!-- List of conditions--> 
    <div class="container">
        <div class="farmers-landing-page row">
            <div class="primary-region medium-12">
                
                <div class="primary-region__header">
                    <div id="header-holder"> </div>
                    <p>
                        Below are the forms used to apply for for an annual operating farm loan. You may needs to fill many of them to complete your application. Please select a form to start the walk tough process. You may comeplete the form as you go though this process. You may download the each form to your computers at any point to save your progress and resume working on it later. Please note:
                    </p>
                    <ul>
                        <li>The forms can only be saved to your computer;</li>
                        <li>At no point in this process is any information saved to, or shared with USDA staff or systems; and</li>
                        <li>You care encouraged to reach out to your Local Service Center if you have any further questions or concerns.</li>
                    </ul>
                    <p id="return-form-suport">
                        
                    </p>

                    <!-- Yellow warning --> 
                    <div class="warning-container">
                        <div class="warning-left-bar"> </div>
                        <div class="warning-icon">
                            <img src="./images/alerts/warning.png" alt="warning icon" height="32" width="32">
                        </div>
                        <div class="warning-message">
                            <div class="warning-message-title">
                                These forms can only be saved to your computer
                            </div>
                        </div>
                    </div>
                    
                    <!-- blue  info box --> 
                    <div class="info-container" id="info-container-id">
                        <div class="info-left-bar"> </div>
                        <div class="info-icon">
                            <img src="./images/alerts/info.png" alt="alert icon" height="32" width="32">
                        </div>
                        <div class="info-message">
                            <div class="info-message-title">
                                Eligibility assesssment available
                            </div>
                            <div class="info-message-description">
                                Not sure where to start? Complete the eligibility assessment to understand which loan application best suits your needs.
                            </div>
                                <button class="btn lg-btn info-button-container" onclick="setContent('quiz')" aria-label="Go to the Loan Readiness Tool">
                                    Start Eligibility Self-Assessment
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Holds contents based on conditions -->
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4" id="forms-holder"></div>
    </div>
</div>

<script>
    (function() {
        // Get the current page
        var loanType = getloanType();
        
        // load home page on first load SetContent
        if(loanType === undefined || loanType === "" || loanType === "all") {
            showAllLoans();
        }
        else {
            showFormsList(loanType);
        }
    })();

    // Draws cards for all loan types
    function showAllLoans() {
        setloanType("all");

        // Show all loan types
        $.getJSON("/forms/loantypes.json", function(data) {
            // Create a card for each loan type
            var cards = [];
            $.each(data['loanType'], function(key, type) {
                // Title of support page
                var titleText = `<div class="col"> Farm Loan Application Form Support </div>`
                document.getElementById('title-holder').innerHTML = titleText;
                
                // Card for each loan type
                var new_card = `<div class="col">
                                    <div class="loantype-card-container">
                                        <div class="loantype-card-image-container">
                                            <img class="loantype-card-image-container" src="./images/loantypes/${type["image"]}" alt="${type["imageAltText"]}">
                                        </div>
                                        <div class="loantype-card-title">
                                            <h3> ${type["name"]} </h3>
                                        </div>
                                        <div class="loantype-card-description">
                                            <p> ${type["description"]} </p>
                                        </div>
                                        <div class="loantype-card-spacer">
                                            <p></p>
                                        </div> 
                                        <div class="loantype-card-button-container">
                                            <div class="loantype-card-button">
                                                <button class="btn lg-btn" onclick="showFormsList('${type["type"]}')" aria-label="Go to the ${type["type"]}" data-category="${type["type"]}" id="${type["type"]}"> ACCESS FORMS </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>`;
                cards.push(new_card);
            });

            $("#forms-holder").empty();
            $("#forms-holder").append(cards.join(""));

            // Remove back link
            $('#return-form-suport').empty();
        });
    }

    // Draw Forms for loan type
    function showFormsList(loanType) {
        // Save seleted loan type cookie
        setloanType(loanType);

        $.getJSON("/forms/loantypes.json", function(loantypesdata) {
            // Show Forms Grid with forms for specific loan type
            $.getJSON("/forms/forms.json", function(data) {
                // Get the index of the loanType 
                var index = loantypesdata['loanType'].findIndex(function(item, i){ return item.type === loanType; });
                // Get the loan name
                var loanName = loantypesdata['loanType'][index]['name'];

                // Title of support page
                var titleText = `<div class="col">
                                    <div class="loantype-title">    
                                        <div class="">
                                            <a href="" onclick="showAllLoans();return false;" data-label="/loanforms.html" aria-label="Go to Form Support Page" data-category="Loans">
                                                <img class="loantype-title-back image-flip" src="./images/arrow-right.png" alt="Back arrow" width="32">
                                            </a>
                                        </div>
                                        <div class="loantype-title-name">
                                            <div>${loanName} Form Support</div>
                                        </div>
                                    </div>
                                </div>`;
                document.getElementById('title-holder').innerHTML = titleText;
                
                // Description of support page
                var descriptioText = `<div class="col"> ${loantypesdata['loanType'][index]['description']} </div>`;
                document.getElementById('header-holder').innerHTML = descriptioText;
                
                // The cards for the individual forms
                var cards = [];
                var formIds = [];
                $.each(data["Forms"], function(key, form) {
                    // use index to get the list of forms for the loan type
                    // if not in the loan's form list reeturn without building card
                    console.log(form)

                    if(!loantypesdata['loanType'][index]['formsRequired'].includes(form['id']) &&
                    !loantypesdata['loanType'][index]['formsRecommended'].includes(form['id']) &&
                    !loantypesdata['loanType'][index]['formsAdditional'].includes(form['id'])) { return; }

                    var required;
                    if(loantypesdata['loanType'][index]['formsRequired'].includes(form['id'])) { 
                        required = "Required"; }

                    if(loantypesdata['loanType'][index]['formsRecommended'].includes(form['id'])) { 
                        required = "Recommended"; }
                    
                    if(loantypesdata['loanType'][index]['formsAdditional'].includes(form['id'])) { 
                        required = "Additional"; }

                    var new_card =  `<div class="col">
                                        <div class="content-card accent-top form-card h-100"">
                                            <div class="headline">
                                                <h3> 
                                                    <a href="" onclick="loadForm('${form.id}');return false;" "class="text-link" id="${form.id}">
                                                        ${form.name} 
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="content">
                                                <p> ${form["description"]} </p>
                                                <p> ${required} </p>
                                            </div>
                                            <div class="link">
                                                <a class="text-link" href="" onclick="loadForm('${form.id}');return false;">Get assistance completing this form</a>
                                                <a class="text-link" href="/forms/${form["file_name"]}" download>Download</a>
                                            </div>
                                        </div>
                                    </div>`;
                    
                    cards.push(new_card);
                    formIds.push(form.id);
                });

                $("#forms-holder").empty();
                $("#forms-holder").append(cards.join(""));

                $('#return-form-suport').html(`<a href="" onclick="showAllLoans();return false;"  class="page-link" data-label="" aria-label="Go to Form Support Page" data-category="Loans">Back to all loan types</a>`);
            });
        });
    }

    // Load specific form
    function loadForm(formType) {
        setContent('form');
        setFormType(formType);
    }

    // After DOM is loaded
    $(document).ready(function () {
        // Hide info if Eligibility Self-Assessment not complete
        if(userState() != 2) {
            document.getElementById('info-container-id').style.display = 'grid';  
        }
    });
</script>