<style>
    .container-spacer-bottom {
        height:10rem;
    }

    .category-forms-container {
        height: fit-content;
        width: 100%;
        padding: 1rem;
        border: 1px solid black;
        margin: 0 0 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .category-forms-container-required {
        height: fit-content;
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .category-forms-holder {
        width: 100%;
        height: fit-content;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
        .category-forms-title {
                font-size: large;
            }
        .category-forms-message {
            
        }
        .category-forms-holder {
            width: 100%;
        }
            
        .required {
            background: #006546;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
        }

        .recomended {
            background: #DBEDE0;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            align-items: center;
            text-align: center;
            color: #111221;
        }

        .additional {
            background: #F7F7F7;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            align-items: center;
            text-align: center;
            color: #111221;
        }

        .category-forms-card {
            max-width: 30%;
            height: 100%;
            border: 1px solid #111221;
            border-top: 6px solid #006546;
            display: flex;
            flex-direction: column;

        }
            .category-forms-card-content {
                width: 100%;
                height: 100%;
                padding: 1rem;
            }

    .button-container {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
    }
        .button-holder {
            border-radius: 4px;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            max-width: 100%;
            padding: 1rem;
        }
        .button-blue {
            background: #1A6AD3;
            color: #FFFFFF;
        }
        .button-white {
            background-color: #FFFFFF;
            border: 2px solid #1A6AD3;
            color: #1A6AD3;
        }

</style>

<div id="main-content" id="body"> 
    <!-- Tiles Text --> 
    <div class="container">
        <div class="row">
            <div class="primary-region medium-12">
                <h1 class="primary-region__title" id="title-holder"> <!-- calculated in script --> </h1>
            </div>
        </div>
    </div>

    <!-- List of conditions--> 
    <div class="container">
        <div class="farmers-landing-page row">
            <div class="primary-region medium-12">
                
                <div class="primary-region__header">
                    <div id="header-holder"> </div>
                    <p id="header-note"></p>
                    <ul>
                        <li>The forms can only be saved to your computer;</li>
                        <li>At no point in this process is any information saved to, or shared with USDA staff or systems; and</li>
                        <li>You care encouraged to reach out to your Local Service Center if you have any further questions or concerns.</li>
                    </ul>
                    <p id="return-form-suport">
                        
                    </p>

                    <!-- Yellow warning --> 
                    <div class="warning-container">
                        <div class="warning-left-bar"> </div>
                        <div class="warning-icon">
                            <img src="./images/alerts/warning.png" alt="warning icon" height="32" width="32">
                        </div>
                        <div class="warning-message">
                            <div class="warning-message-title">
                                These forms can only be saved to your computer
                            </div>
                        </div>
                    </div>
                    
                    <!-- blue  info box --> 
                    <div class="info-container" id="info-container-id">
                        <div class="info-left-bar"> </div>
                        <div class="info-icon">
                            <img src="./images/alerts/info.png" alt="alert icon" height="32" width="32">
                        </div>
                        <div class="info-message">
                            <div class="info-message-title">
                                Eligibility assesssment available
                            </div>
                            <div class="info-message-description">
                                Not sure where to start? Complete the eligibility assessment to understand which loan application best suits your needs.
                            </div>
                                <button class="btn lg-btn info-button-container" onclick="setContent('quiz')" aria-label="Go to the Loan Readiness Tool">
                                    Start Eligibility Self-Assessment
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="divider-line"></div>
    </div>

    <!-- Holds contents based on conditions -->
    <div class="container">
        <div id="forms-holder"></div>
    </div>
    <div class="container-spacer-bottom"></div>
</div>

<script>
    (function() {
        // Get the current page
        var loanType = getloanType();
        
        // load home page on first load SetContent
        if(loanType === undefined || loanType === "" || loanType === "all") {
            showAllLoans();
        }
        else {
            showFormsList(loanType);
        }
    })();

    // Draws cards for all loan types
    function showAllLoans() {
        setloanType("all");
        var descriptioText = "Below are all the loans FSA offers. Forms differ depending on which loan type you select.  Please note:";
        
        $('header-holder').empty();
        document.getElementById('header-holder').innerHTML = descriptioText;

        // Show all loan types
        $.getJSON("/forms/loantypes.json", function(data) {
            var categories = [...data['categories']];
            var loanTypes = [...data['loanType']];

            // Create a card for each loan category
            var cards = [];
            $.each(categories, function(key, type) {
                // Title of support page
                var titleText = `<div class="col"> Farm Loan Application Form Support </div>`
                document.getElementById('title-holder').innerHTML = titleText;

                // Card for each loan type
                var new_card = `<div class="col">
                                    <div class="loantype-card-container">
                                        <div class="loantype-card-image-container">
                                            <img class="loantype-card-image" src="./images/loantypes/${type["image"]}" alt="${type["imageAltText"]}">
                                        </div>
                                        <div class="loantype-card-title">
                                            <h3> ${type["type"]} </h3>
                                        </div>
                                        <div class="loantype-card-description">
                                            <p> ${type["descriptionShort"]} </p>
                                        </div>
                                        <div class="loantype-card-button-container">
                                            <div class="loantype-card-button">
                                                <button class="btn lg-btn" onclick="showFormsList('${type["type"]}')" aria-label="View the ${type["type"]} forms" data-category="${type["type"]}" id="${type["type"]}">ACCESS FORMS</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>`;
                cards.push(new_card);
            });

            $("#forms-holder").empty();
            $("#forms-holder").append(cards.join(""));

            // Remove back link
            $('#return-form-suport').empty();
        });
    }

    // Draw Forms for loan Category type
    function showFormsList(category) {
        // Save seleted loan type cookie
        setloanType(category);
        var message = `Below are the forms used to apply for the ${category}. You may need to fill many of them to complete your application. Please select a form to start the walk tough process. You may comeplete the form as you go though this process. You may download the each form to your computers at any point to save your progress and resume working on it later. Please note:`;
        
        $("#header-holder").empty();
        $("#header-holder").append(message);

        $.getJSON("/forms/loantypes.json", function(loantypesdata) {
            var categories = [...loantypesdata['categories']];
            var loanTypes = [...loantypesdata['loanType']];

            // Show Forms Grid with forms for specific loan type
            $.getJSON("/forms/forms.json", function(data) {
                // Get the the loan types for this category
                var categoryLoans = loanTypes.filter(function(item, i){ return item.category === category; });
                var categoryForms;
                $.each(categoryLoans, function(key, loan) { 
                    var formsRequired = loan['formsRequired'].split(", ");
                    var formsRecommended = loan['formsRecommended'].split(", ");
                    var formsAdditional = loan['formsAdditional'].split(", ");
                    
                    categoryForms = {
                        formsRequired,
                        formsRecommended,
                        formsAdditional
                    }
                });

                // Get the loan name
                var loanName = category;

                // Title of support page
                var titleText = `<div class="col">
                                    <div class="loantype-title">    
                                        <div class="">
                                            <a href="" onclick="showAllLoans();return false;" data-label="/loanforms.html" aria-label="Go to Form Support Page" data-category="Loans">
                                                <img class="loantype-title-back image-flip" src="./images/arrow-right.png" alt="Back arrow" width="32">
                                            </a>
                                        </div>
                                        <div class="loantype-title-name">
                                            <div>${loanName} Form Support</div>
                                        </div>
                                    </div>
                                </div>`;
                document.getElementById('title-holder').innerHTML = titleText;
                
                // Description of support page
                var descriptioText = categories.find(x=> x.type === loanName).description;

                descriptioText = `<div class="col"> ${descriptioText} </div>`;
                $('header-holder').empty();
                document.getElementById('header-holder').innerHTML = descriptioText;

                // The cards for the individual forms
                var cards = [];
                var formIds = [];
                $("#forms-holder").empty();

                // Required
                if(categoryForms['formsRequired'].length != 0) {
                    var categoryFormsContainer = document.createElement("div");
                    categoryFormsContainer.classList.add("category-forms-container-reuired");

{                   //Do first
                    var title = document.createElement("div");}
                    title.classList.add("category-forms-holder-title");
                    title.textContent = "Do first";
                    categoryFormsContainer.append(title);

                    var message = document.createElement("div");
                    message.classList.add("category-forms-holder-message");
                    message.textContent = "Your loan application is not complete without these forms, make sure you fill these out first.";
                    categoryFormsContainer.append(message);

                    var categoryFormsHolder = document.createElement("div");
                    categoryFormsHolder.classList.add("category-forms-holder");

                    $.each(categoryForms['formsRequired'], function(key, formId) {
                        var form = data["Forms"].find((x)=> x.id == formId)
                        if(form !== undefined) {
                            categoryFormsHolder.append(_createCard(form, "Required"));
                            formIds.push(formId);
                        }
                    });
                    categoryFormsContainer.append(categoryFormsHolder);
                    $("#forms-holder").append(categoryFormsContainer);
                }

                // Recommended
                if(categoryForms['formsRecommended'].length != 0) {
                    var categoryFormsContainer = document.createElement("div");
                    categoryFormsContainer.classList.add("category-forms-container");

{                   //Do next
                    var title = document.createElement("div");}
                    title.classList.add("category-forms-holder-title");
                    title.textContent = "Do next";
                    categoryFormsContainer.append(title);

                    var message = document.createElement("div");
                    message.classList.add("category-forms-holder-message");
                    message.textContent = "It's important to have a strong relationship with your Loan Officer as you start your journey with the FSA. The information you provide in these recommended forms equips your Loan Officer with the best information to help you through the process.";
                    categoryFormsContainer.append(message);

                    var categoryFormsHolder = document.createElement("div");
                    categoryFormsHolder.classList.add("category-forms-holder");
                    
                    $.each(categoryForms['formsRecommended'], function(key, formId) {
                        
                        var form = data["Forms"].find(x=> x.id == formId)
                        console.log(categoryForms['formsRecommended'])
                        if(form !== undefined) {
                            categoryFormsHolder.append(_createCard(form, "Recommended"));
                            formIds.push(form);
                        }
                    });
                    categoryFormsContainer.append(categoryFormsHolder);
                    $("#forms-holder").append(categoryFormsContainer);
                }

                // Additional
                if(categoryForms['formsAdditional'].length != 0) {
                    var categoryFormsContainer = document.createElement("div");
                    categoryFormsContainer.classList.add("category-forms-container");

{                   //Do last
                    var title = document.createElement("div");}
                    title.classList.add("category-forms-holder-title");
                    title.textContent = "Do last";
                    categoryFormsContainer.append(title);

                    var message = document.createElement("div");
                    message.classList.add("category-forms-holder-message");
                    message.textContent = "These documents are not required, but you must be able to discuss the topics below with your loan officer. Use these forms to help frame your conversation.";
                    categoryFormsContainer.append(message);

                    var categoryFormsHolder = document.createElement("div");
                    categoryFormsHolder.classList.add("category-forms-holder");
                    
                    $.each(categoryForms['formsAdditional'], function(key, formId) {
                        var form = data["Forms"].find(x=> x.id == formId)
                        
                        if(form !== undefined) {
                            categoryFormsHolder.append(_createCard(form, "Additional"));
                            formIds.push(form);
                        }
                    });
                    categoryFormsContainer.append(categoryFormsHolder);
                    $("#forms-holder").append(categoryFormsContainer);
                }
                
                $('#return-form-suport').html(`<a href="" onclick="showAllLoans();return false;"  class="page-link" data-label="" aria-label="Go to Form Support Page" data-category="Loans">See all loan types</a>`);
            });
        });
    }

    function _createCard(form, required) {

        var new_card = document.createElement("div");
        new_card.classList.add("category-forms-card");

        var requirementType = document.createElement("div");
        switch(required) {
            case "Required":
                requirementType.classList.add("required"); // style in this file
                break;
            case "Recommended":
                requirementType.classList.add("recomended"); // style in this file
                break;
            case "Additional":
                requirementType.classList.add("additional"); // style in this file
                break;
            default:
            }

        
        requirementType.textContent = required
        new_card.append(requirementType);
        
        var contentHolder = document.createElement("div");
        contentHolder.classList.add("category-forms-card-content");
        
        var headline;
        headline = document.createElement("div");
        headline.classList.add("headline");
        var h3;
        h3 = document.createElement("h3");
        h3.innerHTML = `<a href="" onclick="loadForm('${form.id}');return false;" "class="text-link" id="${form.id}">${form.name} </a>`
        headline.append(h3);

        contentHolder.append(headline);        

        var description = document.createElement("div");
        description.classList.add("content");

        var descriptionText = document.createElement("p");
        descriptionText.textContent = form.description;
        description.append(descriptionText);

        contentHolder.append(description);


        var buttonContainer = document.createElement("div");
        buttonContainer.classList.add("button-container"); // style in this file

        var buttonAssistance = document.createElement("button");
        buttonAssistance.classList.add("button-holder"); // style in this file
        buttonAssistance.classList.add("button-blue"); // style in this file
        var t = document.createTextNode("FILL OUT FORMS");
        buttonAssistance.appendChild(t);   
        buttonAssistance.onclick = function(){loadForm(form.id)};
        buttonContainer.append(buttonAssistance);

        var buttonDownload = document.createElement("button");
        buttonDownload.classList.add("button-holder"); // style in this file
        buttonDownload.classList.add("button-white"); // style in this file
        var t = document.createTextNode("DOWNLOAD");
        buttonDownload.appendChild(t);
        buttonDownload.onclick = function(){downloadFile(`/forms/${form.file_name}`, form.file_name)};
        
        buttonContainer.append(buttonDownload);

        contentHolder.append(buttonContainer);
        new_card.append(contentHolder);
        return new_card;
    }

    // Load specific form
    function loadForm(formType) {
        setContent('form');
        setFormType(formType);
    }

    function downloadFile(url, fileName) {
        fetch(url, { method: 'get', mode: 'no-cors', referrerPolicy: 'no-referrer' })
        .then(res => res.blob())
        .then(res => {
        const aElement = document.createElement('a');
        aElement.setAttribute('download', fileName);
        const href = URL.createObjectURL(res);
        aElement.href = href;
        aElement.setAttribute('target', '_blank');
        aElement.click();
        URL.revokeObjectURL(href);
        });
    };

    // After DOM is loaded
    $(document).ready(function () {
        // Hide info if Eligibility Self-Assessment not complete
        if(userState() != 2) {
            document.getElementById('info-container-id').style.display = 'grid';  
        }
    });
</script>