<style>
input[type=checkbox] {
  transform: scale(1);
}

input[type=checkbox] {
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 17px;
  visibility: hidden;
}

input[type=checkbox]:after,
input[type=checkbox]::after {
  content: " ";
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 5px;
  color: #49A564;
  width: 32px;
  height: 32px;
  visibility: visible;
  border: 2px solid #49A564;
  padding-left: 3px;
  border-radius: 5px;
}

input[type=checkbox]:checked:after,
input[type=checkbox]:checked::after {
  content: "\2714";
  padding: -5px;
  font-weight: bold;
}

    .quiz-container {
        box-sizing: border-box;
        display: grid;
        grid-template-areas: "back questions"
                             "next next";
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 5fr;
    }
        .quiz-back-container {
            grid-area: back;
            display:grid;
        }

        .quiz-back {
            width: 2rem;
            display:grid;
        }

        .quiz-questions-container {
            grid-area: questions;
        }

        .quiz-next {
            grid-area: next;
            text-align: center;
            margin: auto;
            padding: 2rem;
        }

    .quiz-title-text {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #212121;
    }

    .quiz-paragraph-text {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #212121;
    }

    .quiz-multiselect-container {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        gap: 2rem;
    }

    .quiz-multiselect-card-container {
        width: 100%;
        border-style: solid;
        border-color: #212121;
        border-width: 2px;
        padding: 2rem;
    }

    .quiz-multiselect-card-title-text {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #212121;
    }

    .quiz-multiselect-card-paragraph-text {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #212121;
    }

    .quiz-multiselect-card-check-container {
        color: antiquewhite;
        float: right;
        clear: both;
    }

</style>

<div class="fit-content">
    <div class="container">
        <div class="quiz-container">
            <div class="quiz-back-container">
                <div class="quiz-back" id="quiz-back">

                </div>
            </div> 
            <div class="quiz-questions-container" id="quiz-questions-container"></div>
            <div class="quiz-next" id="quiz-next"></div>
        </div>   
    </div>
</div>

<script>

    let answeredQuestions = [];
    let currentQuestion = 0;
    let nextStepId = -1;
    let multiselectAnswers = [];

    (function() {
        let startQuestion = 1;
        _showQuestion(startQuestion);
    })();

    function _showQuestion(questionId) {
        if(questionId === 0) {
            $('#quiz-back').hide();
        }
        else $('#quiz-back').show();
        
        currentQuestion = questionId;
        $.getJSON("../quiz.json", function(data) {
            $.each(data["steps"], function(key, step) {
                if(step['id']===questionId){
                    switch (step["type"]) {
                        case 'information':
                            _createInformationCard(step);
                            break;
                        case 'multiselect':
                            _createMultiselctQuestion(step);
                            break;
                        default:
                            console.log(`not a valid type`);
                    };
                }
            });
        });
        _createBackStepLink();
    }
    
    function _saveAndNext() {
        _showQuestion(nextStepId);
    }

    // Creates an information question
    function _createInformationCard(step) {
        let question = document.createElement("div");
        question.classList.add("quiz-question");
        question.append(_createTitle(step['content']['title']));
        question.append(_createParagraphs(step['content']['paragraphs']));
        nextStepId = step['options'][0]['nextStepId'];
        question.append(_createNextStepLink(nextStepId));
        $('#quiz-questions-container').empty();
        $('#quiz-questions-container').append(question);
    }

    // Creates a multiselect question as a grid of cards with checkmars
    function _createMultiselctQuestion(step) {
        multiselectAnswers = [];
        let question = document.createElement("div");
        question.classList.add("quiz-question");
        question.append(_createTitle(step['content']['title']));
        question.append(_createParagraphs(step['content']['paragraphs']));
        question.append(_createMultiselectItems(step['options']));
        question.append(_createNextStepLink(step['nextStepId']));
        $('#quiz-questions-container').empty();
        $('#quiz-questions-container').append(question);
    }

    //////////////////
    // Common Elements
    //////////////////
    function _createTitle(title) {
        let titleDiv = document.createElement("div");
        titleDiv.classList.add("quiz-title-text");
        titleDiv.textContent = title
        return titleDiv;
    }

    function _createParagraphs(paragraphs) {
        let gridDiv = document.createElement("div");
        gridDiv.classList.add("quiz-paragraph-text");
        for (var i = 0; i < paragraphs.length; i++) {
            let paragraph = paragraphs[i];
            let paragraphText = paragraph.paragraphText;
            // For each paragraph, check if it's a string or an object 
            if (paragraphText !== null && paragraphText !== undefined) {
                // If it's a string, then create a simple paragraph element
                if (typeof paragraphText === 'string' || paragraphText instanceof String) {
                    var paragraphElement = _createParagraphElement(paragraphText);
                    // If it's an object, then it should represent a bulleted list, so create that instead
                } else if (typeof paragraphText === 'object' && !Array.isArray(paragraphText)) {
                    var paragraphElement = _createBulletedListElement(paragraphText.bullets, paragraphText.type);
                } else {
                    alert("Unrecognized paragraphText element detected: " + paragraphText.toString());
                }
            }
            // Append the paragraph to the parent div
            gridDiv.appendChild(paragraphElement);
        }

        return gridDiv;
    }

    function _createParagraphElement(paragraphText) {
        let paragraphElement = document.createElement("p");
        paragraphElement.appendChild(document.createTextNode(paragraphText));
        return paragraphElement;
    }

    function _createNextStepLink(nextStepId) {
        let div = document.createElement('div');
        div.classList.add("quiz-next");
        let nextLink = document.createElement('a');
        nextLink.onclick = function() { _saveAndNext(); };
        nextLink.innerHTML = "Save and continue"
        div.appendChild(nextLink);
        return div;
    }

    function _createBackStepLink() {
        let previoousLinkId = 0;
        var image = document.createElement("img");
        image.setAttribute("src", "./images/arrow-left.png");
        image.setAttribute("height", "32");
        image.setAttribute("width", "32");
        image.setAttribute("alt", "Back Arrow");

        let previoousLink = document.createElement('a');
        previoousLink.onclick = function() { _showQuestion(previoousLinkId); };
        previoousLink.appendChild(image);
        $('#quiz-back').empty();
        $('#quiz-back').append(previoousLink);
    }

    ///////////////////////////
    // Multi-selection elements
    ///////////////////////////
    function _createMultiselectItems (options) {
        let gridDiv = document.createElement("div");
        gridDiv.classList.add("quiz-multiselect-container");
        for (var i = 0; i < options.length; i++) {
            let cardDiv = document.createElement("div");
            cardDiv.classList.add("quiz-multiselect-card-container");
            cardDiv.append(_createMultiselctCardTitle(options[i]['title']));
            cardDiv.append(_createParagraphs(options[i]['paragraphs']));
            cardDiv.append(_createMultiselctCardCheckbox(options[i]));
            gridDiv.append(cardDiv);
        }
        return gridDiv;
    }

    function _createMultiselctCardTitle(title) {
        let titleDiv = document.createElement("div");
        titleDiv.classList.add("quiz-multiselect-card-title-text");
        titleDiv.textContent = title;
        return titleDiv;  
    }

    function _createMultiselctCardCheckbox(option) {
        let checkboxDiv = document.createElement("div");
        checkboxDiv.classList.add("quiz-multiselect-card-check-container");        
        
        var checkbox = document.createElement("INPUT");
        checkbox.setAttribute("type", "checkbox");
        checkbox.name = option['value'];
        checkbox.value = option['nextStepId'];

        $(checkbox).off().on('click', setMultiselectAnswers.bind(this, option, checkbox));
        $(checkbox).on('click',function() {
            setMultiselectAnswers.bind(this, option, checkbox);
            $(this).off('click');
        });

        checkboxDiv.appendChild(checkbox);
        return checkboxDiv;  
    }

    function setMultiselectAnswers (option, checkbox) {
        let answer = {value: option['value'], nextStepId: option['nextStepId']};
        $(checkbox).change(function() {
            if(this.checked) {
                multiselectAnswers.push(answer);
            }
            else
            {
                let index = multiselectAnswers.findIndex(x => x.value === option['value']);
                multiselectAnswers.splice(index, 1);
            }
        
            highestValue = Math.max.apply(null, multiselectAnswers.map(object => { return object.value; }));

            nextStepId = multiselectAnswers.find(x => x.value === highestValue).nextStepId;
            if(nextStepId === -Infinity) { nextStepId = -1}
        });
    }
    
    ///////////////////
    // Helper Functions
    ///////////////////  
</script>