<style>
:root {
  --control-color-green: #49A564;
}

input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    transform: scale(1);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 17px;
    visibility: hidden;
}

input[type=checkbox]:after,
input[type=checkbox]::after {
    content: " ";
    display: inline-block;

    min-width: 3rem;
    min-height: 3rem;
    visibility: visible;
    border: 2px solid var(--control-color-green);
    border-radius: 5px;
}

input[type=checkbox]:checked {
    color: #fff;
}
input[type=checkbox]:checked:after,
input[type=checkbox]:checked::after {
    content: "\2713";
    font-weight: bold;
    background-color: var(--control-color-green);
    padding: 0px 25%;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;

  font: inherit;
  color: var(--control-color-green);
  min-width: 3rem;
  min-height: 3rem;
  border: 0.2rem solid var(--control-color-green);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transform: scale(0);
  box-shadow: inset 2rem 2rem var(--control-color-green);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
  background-color: var(--control-color-green);
}

input[type="radio"]:focus {
  outline: max(1px, 2px) solid var(--control-color-green);;
  outline-offset: max(0px, 2px);
  background-color: var(--control-color-green);
}

    .quiz-container {
        min-height: 50vh;;
        box-sizing: border-box;
        display: grid;
        grid-template-areas: "back questions"
                             "next next";
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 5fr;
    }
        .quiz-back-container {
            grid-area: back;
            display:grid;
        }

        .quiz-back {
            width: 2rem;
            display:grid;
        }

        .quiz-questions-container {
            grid-area: questions;
        }

        .quiz-next {
            font-size: x-large;
            grid-area: next;
            text-align: center;
            margin: auto;
            padding: 2rem;
            color: blue;
        }

        .quiz-next-inactive {
            font-size: x-large;
            grid-area: next;
            text-align: center;
            margin: auto;
            padding: 2rem;
            color: gray;
        }

    .quiz-title-text {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #212121;
    }

    .quiz-paragraph-text {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #212121;
    }

    .quiz-multiSelect-container {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        gap: 2rem;
    }
    
    .quiz-multiSelect-card-container {
        display: inline-block;
        min-width: 100%;
        min-height: fit-content;
        border: 2px solid #212121;
        padding: 2rem;
    }

    .quiz-multiSelect-card-container-selected {
        display: inline-block;
        min-width: 100%;
        min-height: fit-content;
        border: 0.2rem solid var(--control-color-green);
        padding: 2rem;
    }

    .quiz-multiSelect-card-title-text {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #212121;
    }

    .quiz-multiSelect-card-paragraph-text {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #212121;
    }

    .quiz-multiSelect-card-check-container {
        min-width: 3rem;
        min-height: 3rem;
        float: right;
    }

    .form-control:focus-within {
        color: var(--control-color-green);;
    }

    .quiz-singleSelectRadio-container {
        display: flex;
        flex-direction: row-reverse;
    }

</style>

<div class="fit-content">
    <div class="container">
        <div class="quiz-container">
            <div class="quiz-back-container">
                <div class="quiz-back" id="quiz-back"></div>
            </div> 
            <div class="quiz-questions-container" id="quiz-questions-container"></div>
        </div>   
    </div>
</div>
<script src="../js/stateManager.js"></script>
<script>
    var questionHistory = []; // List of nextQuestionId values
    var questionHistoryIndex = -1;
    var questionType = ";"
    var currentQuestion = -1;
    var nextQuestionId = -1;
    var answers = [];

    (function() {
        currentQuestion = 0;
        if(geAnswers() !== ""){
            questionHistory = JSON.parse(geAnswers());
            // Set the current question based on last unanswered question
            currentQuestion = Math.max.apply(null, questionHistory.map(object => { return object.nextQuestionId; }));
        }

        showQuestion(currentQuestion);
    })();

    //////////////////
    // Quiz Logic
    //////////////////
    // Shows question
    function showQuestion(questionId) {        
        $.getJSON("../quiz.json", function(data) {
            $.each(data["questions"], function(key, questionData) {
                if(questionData['questionId'] === questionId){
                    
                    currentQuestion = questionId;
                    answers = [];

                    var index = questionHistory.findIndex(x => x.question === currentQuestion);
                    questionHistoryIndex = index;
                    if(index === -1)
                    {
                        
                        nextQuestionId = -1;
                        var answer = {
                            "question": currentQuestion,
                            "answer": answers,
                            "nextQuestionId": nextQuestionId
                        }
                        questionHistoryIndex = questionHistory.length;
                        questionHistory[questionHistoryIndex] = answer;
                    }
                    else {
                        answers = questionHistory[index]['answer'];
                        nextQuestionId = questionHistory[index]['nextQuestionId'];
                    }
                    
                    questionType = questionData["type"];
                    switch (questionType) {
                        case 'information':
                            _createInformationCard(questionData);
                            break;
                        case 'multiselect':
                            _createMultiselctQuestion(questionData);
                            break;
                        case 'singlesselect':
                            _createSingleSelectQuestion(questionData);
                            break;
                        case 'yesno':
                            _createYesNoQuestion(questionData);
                            break;
                        case 'singleselectcards':
                            _createSingleSelectCardQuestion(questionData);
                            break;
                        default:
                            console.log(`not a valid type`);
                    };
                    _createBackStepLink();
                }
            });
        });
    }
    
    // Saves answer and shows next question
    function saveAndNext() {
        // Get list of answers from the multi select mnswers
        console.log(answers)

        if(questionType == "multiselect") {
            if(answers.findIndex(x => x.question !== -1) > -1) {
            var multiAnswers = [];
                for ( var i = 0; i < answers.length; i++ ) { 
                    multiAnswers.push(answers[i]['value']);
                }
                answers = [...multiAnswers];
            }
        }
        var answerToSave = {
            "question": currentQuestion,
            "answer": answers,
            "nextQuestionId": nextQuestionId
        }

        
        // add answer to array
        var index  = questionHistory.findIndex(x => x.question === currentQuestion);

        questionHistory[index] = answerToSave;
        updateAnswers();
        showQuestion(nextQuestionId);
    }
    
    // Creates a link to the next question.  If next step is based on user choice the link wil be inactive until choice is made
    function _createNextStepLink() {
        var parent = document.createElement('div');
        
        // Add inactive link
        var div = document.createElement('div');
        div.classList.add("quiz-next-inactive");
        div.id = 'quiz-next-inactive';
        var nextLink = document.createElement('a');
        nextLink.innerHTML = "Save and continue"
        nextLink.onclick = function() { null };
        div.appendChild(nextLink);
        parent.appendChild(div);
        
        // Add active link
        div = document.createElement('div');
        div.classList.add("quiz-next");
        div.id = 'quiz-next-active';

        nextLink = document.createElement('a');
        nextLink.innerHTML = "Save and continue"
        nextLink.onclick = function() { saveAndNext(); };
        div.appendChild(nextLink);
        parent.appendChild(div);
        return parent;
    }

    function setNextLinkValues() {
        $('#quiz-next-inactive').hide();
        $('#quiz-next-active').hide();

        if(nextQuestionId >= 0 ) {
            $('#quiz-next-active').show();
        }
        else {
            $('#quiz-next-inactive').show();
        }
    }

    function _createBackStepLink() {
        $('#quiz-back').hide();

        if(questionHistory.length === 0) { return; }
        if(questionHistory[0]['question'] !== currentQuestion) {
            $('#quiz-back').show();
            var image = document.createElement("img");
            image.setAttribute("src", "./images/arrow-left.png");
            image.setAttribute("height", "32");
            image.setAttribute("width", "32");
            image.setAttribute("alt", "Back Arrow");

            var previoousLink = document.createElement('a');

            previoousLink.onclick = function() { 
                var id = questionHistory.findIndex(x => x.question === currentQuestion) -1;
                showQuestion(questionHistory.at(id)['question']);
                if(id === 0) {
                    $('#quiz-back').hide();
                }
                if(nextQuestionId === -1) {
                    questionHistory.pop();
                }
            }
            previoousLink.appendChild(image);
            $('#quiz-back').empty();
            $('#quiz-back').append(previoousLink);
        }
    }

    ///////////////////
    // Information Card
    ///////////////////
    // Creates an information question card: Text and a continue button
    function _createInformationCard(questionData) {
        nextQuestionId = questionData['options'][0]['nextQuestionId'];
        var question = document.createElement("div");
        question.classList.add("quiz-question");
        question.append(_createTitle(questionData['content']['title']));
        question.append(_createParagraphs(questionData['content']['paragraphs']));
        question.append(_createInformationButtons(questionData['options']));
        $('#quiz-questions-container').empty();
        $('#quiz-questions-container').append(question);
    }
    
    function _createInformationButtons(options) {
        var buttonDiv = document.createElement("div");
        for ( var i = 0; i < options.length; i++ ) {
            var button = document.createElement("button");
            button.type = "button";
            button.classList.add("btn");
            button.classList.add("btn-default");
            button.textContent = options[i]['title'];
            $(button).off().on('click', setInformationLinks.bind(this, options[i], button));
            $(button).on('click',function() {
                setInformationLinks.bind(this, options[i], button);
                $(this).off('click');
            });
            buttonDiv.append(button);
            
        }
        return buttonDiv;
    }

    function setInformationLinks(option) {
        nextQuestionId = option.nextQuestionId;
        answers.push(option.value);
        saveAndNext();
    }

    ///////////////////////////
    // Multi-selection Question
    ///////////////////////////
    // Creates a MultiSelect question card: a grid of cards with checkboxes.  One or more must be selected to continue
    function _createMultiselctQuestion(questionData) {
        var question = document.createElement("div");
        question.classList.add("quiz-question");
        question.append(_createTitle(questionData['content']['title']));
        question.append(_createParagraphs(questionData['content']['paragraphs']));
        question.append(_createMultiSelectItems(questionData['options']));
        question.append(_createNextStepLink());
        $('#quiz-questions-container').empty();
        $('#quiz-questions-container').append(question);
   
        let data = questionHistory.find(x => x.question === currentQuestion);
        var checkboxesAll = [];
        checkboxesAll = [...question.querySelectorAll('input[type="checkbox"]')];        
        
        var tempArray = [];
        for ( var i = 0; i < data.answer.length; i++ ) { 
            var option = questionData['options'].find(x => x.value == data.answer[i]);
            var checkbox = checkboxesAll.find(x => x.name == data.answer[i]);
            if(checkbox !== undefined) {
                var answer = { value: option['value'], nextQuestionId: option['nextQuestionId'] };
                tempArray.push(answer);
                checkbox.classList.remove("quiz-multiSelect-card-container");
                checkbox.classList.add("quiz-multiSelect-card-container-selected");
                $(checkbox).prop('checked', true);
            }
            answers = [...tempArray]
        }

        setNextLinkValues();
    }

    function _createMultiSelectItems(options) {
        var gridDiv = document.createElement("div");
        gridDiv.classList.add("quiz-multiSelect-container");
        for (var i = 0; i < options.length; i++) {
            var cardDiv = document.createElement("div");
            cardDiv.classList.add("quiz-multiSelect-card-container");
            cardDiv.append(_createMultiselctCardTitle(options[i]['title']));
            cardDiv.append(_createParagraphs(options[i]['paragraphs']));
            cardDiv.append(_createMultiselctCardCheckbox(options[i]));
            gridDiv.append(cardDiv);
        }
        return gridDiv;
    }

    function _createMultiselctCardTitle(title) {
        var titleDiv = document.createElement("div");
        titleDiv.classList.add("quiz-MultiSelect-card-title-text");
        titleDiv.textContent = title;
        return titleDiv;  
    }

    function _createMultiselctCardCheckbox(option) {
        var checkboxDiv = document.createElement("div");
        checkboxDiv.classList.add("quiz-multiSelect-card-check-container");        
        
        var checkbox = document.createElement("INPUT");
        checkbox.setAttribute("type", "checkbox");
        checkbox.name = option['value'];
        checkbox.value = option['nextQuestionId'];

        $(checkbox).off().on('click', setMultiSelectAnswers.bind(this, option, checkbox));
        $(checkbox).on('click',function() {
            setMultiSelectAnswers.bind(this, option, checkbox);
            $(this).off('click');
        });

        checkboxDiv.appendChild(checkbox);
        return checkboxDiv;  
    }

    function setMultiSelectAnswers(option, checkbox) {
        var answer = { value: option['value'], nextQuestionId: option['nextQuestionId'] };

        $(checkbox).change(function() {
            if(this.checked) {
                answers.push(answer);
                var selectedCheckbox = checkbox.closest(".quiz-multiSelect-card-container");
                selectedCheckbox.classList.remove("quiz-multiSelect-card-container");
                selectedCheckbox.classList.add("quiz-multiSelect-card-container-selected");

            }
            else
            {
                var selectedCheckbox = checkbox.closest(".quiz-multiSelect-card-container-selected");
                selectedCheckbox.classList.remove("quiz-multiSelect-card-container-selected");
                selectedCheckbox.classList.add("quiz-multiSelect-card-container");
                var index = answers.findIndex(x => x.value === option['value']);
                answers.splice(index, 1);
            }
        
            highestValue = Math.max.apply(null, answers.map(object => { return object.value; }));

            if (answers.length !== 0 ) {
                nextQuestionId = answers.find(x => x.value === highestValue).nextQuestionId;
                if ( nextQuestionId === -Infinity ) { nextQuestionId = -1; }
            }
            else {
                nextQuestionId = -1;
            }
            setNextLinkValues();
        });
    }

    ////////////////////////////
    // Single-select cards elements
    ////////////////////////////
    // Creates cards with radio buttons
    function _createSingleSelectCardQuestion(questionData) {
        var question = document.createElement("div");
        question.classList.add("quiz-question");
        question.append(_createTitle(questionData['content']['title']));
        question.append(_createParagraphs(questionData['content']['paragraphs']));
        question.append(_createSingleSelectCardItems(questionData['options']));
        question.append(_createNextStepLink());
        $('#quiz-questions-container').empty();
        $('#quiz-questions-container').append(question);

        let data = questionHistory.find(x => x.question === currentQuestion);
        var radios = [];
        radios = [...question.querySelectorAll('input[type="radio"]')];        

        for ( var i = 0; i < data.answer.length; i++ ) { 
            var radio = radios.find(x => x.name == data.answer[i]);
            if(radio !== undefined) {
                answers[0] = data.answer[i];
                $(radio).prop('click', true);
            }
        }
        setNextLinkValues();
    }

    function _createSingleSelectCardItems(options) {
        var gridDiv = document.createElement("div");
        gridDiv.classList.add("quiz-multiSelect-container");
        for (var i = 0; i < options.length; i++) {
            var cardDiv = document.createElement("div");
            cardDiv.classList.add("quiz-multiSelect-card-container");
            cardDiv.append(_createMultiselctCardTitle(options[i]['title']));
            cardDiv.append(_createParagraphs(options[i]['paragraphs']));
            cardDiv.append(_createSingleSelectCardRadioButtons(options[i]));
            gridDiv.append(cardDiv);
        }
        return gridDiv;
    }

    function _createSingleSelectCardRadioButtons(option) {
        var div = document.createElement("div");
        div.classList.add("quiz-singleSelectRadio-container");
        var label = document.createElement("label");
        var radio = document.createElement("input");
        radio.type = "radio";
        radio.name = option['value'];
        radio.value = option['nextQuestionId'];

        $(radio).off().on('click', setSingleSelectCardAnswer.bind(this, option, radio));
        $(radio).on('click',function() {
            setSingleSelectCardAnswer.bind(this, option, radio);
            $(this).off('click');
        });
        
        label.textContent = option.title
        div.appendChild(radio);
        div.appendChild(label);

        return div;
    }

    function setSingleSelectCardAnswer(option) {
        answers.push(option.optionId);
        nextQuestionId = option.nextQuestionId;
        setNextLinkValues();
    }

    ////////////////////////////
    // Single-selection elements
    ////////////////////////////
    // Creates a single select question card: two or more radio buttons
    function _createSingleSelectQuestion(questionData) {
        var question = document.createElement("div");
        question.classList.add("quiz-question");
        question.append(_createTitle(questionData['content']['title']));
        question.append(_createParagraphs(questionData['content']['paragraphs']));
        question.append(_createSingleSelectItems(questionData['options']));
        question.append(_createNextStepLink());
        $('#quiz-questions-container').empty();
        $('#quiz-questions-container').append(question);


        let data = questionHistory.find(x => x.question === currentQuestion);
        var radios = [];
        radios = [...question.querySelectorAll('input[type="radio"]')];        
        console.log(data)

        for ( var i = 0; i < data.answer.length; i++ ) { 
            var radio = radios.find(x => x.id == data.answer[i]);

        if(radio !== undefined) {
                answers[0] = data.answer[i];
                $(radio).prop('checked', true);
            }
        }
        setNextLinkValues();
    }

    function _createSingleSelectItems(options) {
        var gridDiv = document.createElement("div");
        for ( var i = 0; i < options.length; i++ ) {
            var cardDiv = document.createElement("div");
            cardDiv.append(_createRadioButtons(options[i]));
            gridDiv.append(cardDiv);
        }
        return gridDiv;
    }

    function _createRadioButtons(option) {
        var div = document.createElement("label");
        var label = document.createElement("label");
        var radio = document.createElement("input");
        radio.type = "radio";
        radio.name = "radio";
        radio.id = option['value'];
        radio.value = option['nextQuestionId'];

        $(radio).off().on('click', setSingleSelectAnswers.bind(this, option, radio));
        $(radio).on('click',function() {
            setSingleSelectAnswers.bind(this, option, radio);
            $(this).off('click');
        });
        
        label.textContent = option.title
        div.appendChild(radio);
        div.appendChild(label);

        return div;
    }

    function setSingleSelectAnswers(option) {
        answers = [];
        answers.push(option.value);
        nextQuestionId = option.nextQuestionId;
        setNextLinkValues();
    }

    //////////////////
    // Yes/No elements
    //////////////////
    // Creates a single select question card: two or more radio buttons
    function _createYesNoQuestion(questionData) {
        var question = document.createElement("div");
        question.classList.add("quiz-question");
        question.append(_createTitle(questionData['content']['title']));
        question.append(_createParagraphs(questionData['content']['paragraphs']));
        question.append(_createYesNoItems(questionData['options']));
        question.append(_createNextStepLink());
        $('#quiz-questions-container').empty();
        $('#quiz-questions-container').append(question);
        setNextLinkValues();
    }

    function _createYesNoItems(options) {
        var buttonDiv = document.createElement("div");
        buttonDiv.classList.add("btn-group");

        for ( var i = 0; i < options.length; i++ ) {
            buttonDiv.append(_createYesNoButtons(options[i]));
        }
        return buttonDiv;
    }

    function _createYesNoButtons(option) {
        var button = document.createElement("button");
        button.type = "button";
        button.classList.add("btn");
        button.classList.add("btn-default");
        button.textContent = option.title;
        $(button).off().on('click', setYesNoAnswers.bind(this, option, button));
        $(button).on('click',function() {
            setYesNoAnswers.bind(this, option, button);
            $(this).off('click');
        });
 
        return button;
    }

    function setYesNoAnswers(option) {
        answers.push(option.optionId);
        nextQuestionId = option.nextQuestionId;
        setNextLinkValues();
    }

    //////////////////
    // Common Elements
    //////////////////
    // Creates a bold title
    function _createTitle(title) {
        var titleDiv = document.createElement("div");
        titleDiv.classList.add("quiz-title-text");
        titleDiv.textContent = title
        return titleDiv;
    }

    // Creates one or more paragraphs
    function _createParagraphs(paragraphs) {
        var gridDiv = document.createElement("div");
        gridDiv.classList.add("quiz-paragraph-text");
        for (var i = 0; i < paragraphs.length; i++) {
            var paragraph = paragraphs[i];
            var paragraphText = paragraph.paragraphText;
            // For each paragraph, check if it's a string or an object 
            if (paragraphText !== null && paragraphText !== undefined) {
                // If it's a string, then create a simple paragraph element
                if (typeof paragraphText === 'string' || paragraphText instanceof String) {
                    var paragraphElement = _createParagraphElement(paragraphText);
                    // If it's an object, then it should represent a bulvared list, so create that instead
                } else if (typeof paragraphText === 'object' && !Array.isArray(paragraphText)) {
                    var paragraphElement = _createBulvaredListElement(paragraphText.bulvars, paragraphText.type);
                } else {
                    alert("Unrecognized paragraphText element detected: " + paragraphText.toString());
                }
            }
            // Append the paragraph to the parent div
            gridDiv.appendChild(paragraphElement);
        }

        return gridDiv;
    }

    // Creates each paragraph text
    function _createParagraphElement(paragraphText) {
        var paragraphElement = document.createElement("p");
        paragraphElement.appendChild(document.createTextNode(paragraphText));
        return paragraphElement;
    }

    //////////////////////////
    // Load and save questions
    //////////////////////////
    //
    function updateAnswers() {
        setCookie("answers", JSON.stringify(questionHistory), 365);
    }

    function geAnswers() {
        return getCookie('answers');
}
</script>